.text-accent-text {
  --tw-text-opacity: 1;
  color: hsl(211 100% 43.2% / var(--tw-text-opacity));
}
.full-screen-mdxeditor [role='toolbar'] {
  top: 65px;
}
.mdxeditor-popup-container {
  z-index: 20;
}

@media (max-width: 768px) {
  .full-screen-mdxeditor [role='toolbar'] {
    top: 157px;
  }
}

.prose {
  max-width: initial;
}

@media (min-width: 1024px) {
  .lg\:max-w-7xl {
    max-width: 80rem;
  }
}
